<nav id="sidebar">
    <div id="dismiss">
        <!-- <i class="fas fa-arrow-left"></i> -->
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>

    <div class="p-4 pt-5">
        <div class="sidebar-header">
            <h5 class="text-monospace text-center text-dark border-bottom"></h5>
        </div>
        <img class="sidebar-img-logo" src="~/Assets/Images/bar-photo.jpg" alt="Avatar">

        <ul class="list-unstyled components text-muted pb-0">
            <p class="text-uppercase font-weight-bold pb-0" style="font-size: 0.80em;">Order History</p>
            <li>
                <a href="/Master/RecentOrders"><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; Recent Orders</a>
            </li>
            <li>
                <a href="/Master/AllOrders"><i class="fa fa-history" aria-hidden="true"></i>&nbsp; All Orders</a>
            </li>
        </ul>
        <ul class="list-unstyled components text-muted pb-0">
            <p class="text-uppercase font-weight-bold pb-0" style="font-size: 0.80em;">Back Up Data</p>
            <li>
                <a href="/Master/SyncDataBase"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp; Back up DB</a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <div class="footer">
                <h6 class="text-muted">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    <a href="doxaSoftwares.com" target="_blank">doxaSoftwares.com</a>
                </h6>
            </div>
        </ul>
    </div>
</nav>
